/*
 Global styling
*/

html {
    /* Center background image and prevent it from stretching and repeating. */
    background: url('../image/backgroundImage.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    height: 100%;
}

body {
    /*
     Text color to light grey (#262626) and font size to 85% of original(14px).
     Gap between lines to 150% of original.
     Align text to left side.
    */
	color: #262626;
	font-size: 85%;
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: 150%;
	text-align: left;
}

a {
    /* Remove underline from links. */
	text-decoration: none;
}

a:link,
a:visited {
    /* Prevent visited links from turning purpls. */
	color: #005ca2;
}

a:hover,
a:active {
    /* White text and blue background when hovering over links. */
	color: #f8f8f8;
	background-color: #005ca2;
}

.wrapperBody {
    /*
     Margin parameters (top & bottom: 0, right & left: auto), this will center the element.
     Width of wrapper to 90%, leaves 5% gap on each side.
     Max width to 1024px, this will prevent the site from stretching to fill ultrawide screens.
    */
	margin: 0 auto;
	clear: both;
	width: 90%;
    max-width: 1024px;
}

h2 {
    /* Color of header2 texts to blue */
    color: #005ca2;
    margin: 0;
}

.ratingStar {
    /* Height of rating star to match the height of text */
    height: 15px;
}

/*
 Banner image styling
*/

.wrapperHeader img {
    /*
     Banner width to 350px.
     Margin parameters follow clockwise order, (top: 2%, right: 0, bottom: 0, left: 60px).
    */
    width: 350px;
	margin: 2% 0 0 5%;
}

.wrapperHeader a:hover {
    /* Remove background color when hovering over image */
	background-color: transparent;
}

/*
 Navigation bar styling
*/

.wrapperHeader nav {
    /* Background of navigation bar to dark grey color and height to 40px */
	background-color: #262626;
	height: 40px;
}

.wrapperHeader nav ul {
    /*
     Vertically align the first navbar link with footer using left padding.
     Remove bulletpoint styling from links.
    */
    padding-left: calc(5% - 20px);
	list-style: none;
	margin: 0 auto;
}

.wrapperHeader ul li {
    /* All links display in a line and 5px margin between each of them */
	display: inline;
	float: left;
    margin: 0 5px 0 0;
}

.wrapperHeader nav a:link,
.wrapperHeader nav a:visited {
    /*
     Text color of navbar links to white.
     Height + top&bottom padding matches background height (40px)
    */
	color: #f8f8f8;
	display: inline-block;
	height: 20px;
	padding: 10px 20px;
}

.wrapperHeader nav a:hover,
.wrapperHeader nav a:active,
.wrapperHeader nav .active a:link,
.wrapperHeader nav .active a:visited {
    /*
     Blue background when hovering over link or the link is active.
    */
	background-color: #005ca2;
	text-shadow: none;
}


/*
 Body content styling
*/

.wrapperContent {
    /*
     Content wrapper has an off-white background and fill 100% of the body wrapper.
     20px gap on top and bottom where it touches the navbar and footer.
    */
    float: left;
    width: 100%;
	background-color: #f8f8f8;
	margin: 20px 0;
}

.content {
    /*
     Content has 5% padding on all sides.
     Width 90%;
    */
    padding: 5%;
    width: 90%;
}

.directory {
    /* Directory has grey color text in italic style with smaller font size */
    margin: 0;
	font-style: italic;
	color: #999999;
	font-size: 85%;
}

.directory a {
    /* Overrides the global styling for links, directory link is in grey rather than blue */
	color: #999999;
}

.directory a:hover {
    /*
     Overrides the global styling for links, directory link now has blue text and no
     background color when hovered over.
    */
    background-color: transparent;
    color: #005ca2;
}

/*
 Footer styling
*/

.wrapperFooter {
    /*
     Footer wrapper fills 100% of body wrapper.
     40px height and dark grey color to match navbar.
     2% margin from bottom of screen.
    */
	width: 100%;
	height: 40px;
	float: left;
	background-color: #262626;
    margin-bottom: 2%;
}

.wrapperFooter p {
    /* Footer text in white color and aligns with first navbar button */
	color: #f8f8f8;
	margin: 10px 0 0 5%;
	height: 40px;
}

/*
 Form styling
*/

input,
select,
textarea {
    /*
     Texts in form inputs have 10px padding on left and right.
     Width of 300px, height of 30px, 10px margin between each inputs.
     All inputs display in one column.
    */
    padding: 0 10px;
    width: 300px;
    height: 30px;
    margin-top: 10px;
    display: block;
    box-sizing: border-box;
}

select {
    /* Padding in dropdown box matches with other input types. */
    padding: 0 7px;
}

textarea {
    /*
     Textarea's default height and width is 100px and 400px.
     Allows resizing of textarea's dimensions but limit it to 270px height and 100% width.
    */
	font-family: Arial, 'Lucida Sans Unicode';
    padding-top: 5px;
    height: 100px;
    width: 400px;
    max-height: 270px;
    max-width: 100%;
}

input[type=submit] {
    /*
     White text and blue background for submit buttons in forms.
     Converts cursor to pointer when hovering over submit buttons.
    */
    background-color: #005ca2;
    color: #f8f8f8;
    border: none;
    cursor: pointer;
}

#loginButton {
    /* Margin of 5px at the bottom of login button. */
    margin-bottom: 5px;
}

.errorMessage {
    /* Red texts in bold for error messages and is hidden by default */
    color: #c30000;
    font-weight: bold;
    display: none;
}

/*
 Table styling
*/

table {
    /* Table to fill 100% width and has no gaps between cells. */
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    /* Texts in table cells aligns to the left, can wrap words and have 10px paddings. */
    text-align: left;
    word-wrap: break-word;
    padding: 10px;
}

td {
    padding: 15px 10px;
}

th {
    /* Header row in a table has white text and dark grey background. */
    background-color: #262626;
    color: #f8f8f8;
}

.resultTable {
    /* Table in result page has 20px margin on top. */
    margin-top: 20px;
}

.numberColumn {
    /* Texts in number(#) column aligns to center and has 20px padding on left. */
    padding-left: 20px;
}

.detailColumn {
    padding-right: 20px;
    width: 100px;
}

.resultRow:hover {
    /* White text and blue background when hovering over a row on the table in result page. */
    background-color: #d2d2d2;

}


/*
 Detail result page
*/

.informationTitle {
    /*
     Information titles in detail page has white text in bold and dark grey background.
     Information titles in detail page has 20px margin on top and bottom.
    */
    background-color: #262626;
    color: #f8f8f8;
    font-weight: bold;
    padding: 10px 20px;
    margin: 20px 0;
}

.wrapperDetailContent{
    /* Wrapper for contents in detail page has a max width of 500px or 90% of the page. */
    padding-left: 20px;
    max-width: 90%;
}

.detailInformationHeader,
.detailReviewName{
    /* Texts in these classes are in bold and in blue color. */
    color: #005ca2;
    font-weight: bold;
}

.detailReviewDate,
.instructionText {
    /* Texts in these classes are in bold. */
    font-weight: bold;
}

.detailReviewText {
    /* Review texts in detail page has margin of 20px on bottom and 10px on left. */
    margin: 0 0 20px 10px;
    display: block;
}

a.viewDetailButton {
    width: 100px;
    height: 30px;
    color: #f8f8f8;
    background-color: #005ca2;
    display: block;
    text-align: center;
    padding-top: 10px;
}

/*
 Google Maps styling
*/

.mapTitle {
    /*
     Map title has white text in bold and dark grey background.
     Map title has 10 px margin on top and 20px margin on bottom.
    */
    background-color: #262626;
    color: #f8f8f8;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px 0 20px 0;
}

#leafletMap {
    /*
     Map in both result and detail page are aligned in the center and
     have a height of 400px and width of 100%-40px;
    */
    margin: 0 20px;
    height: 400px;
    width: calc(100% - 40px);
}

#searchMap{
    display: none;
}

/*
 Responsive mobile design
*/

@media only screen and (max-width: 812px) {

    /*
     Mobile global styling
    */

    body {
        /* Larger texts when in mobile mode. */
        font-size: 90%;
    }

	.wrapperBody {
        /* Smaller gaps on left and right. */
		width: 100%;
	}

    /*
     M@riasobile banner image
    */

	.wrapperHeader img  {
        /* Centers banner image and set width to 70%. */
        display: block;
        margin: 2% auto;
        height: 40px;
        width: auto;
	}

    /*
     Mobile navigation bar
    */

	.wrapperHeader nav {
        /* Set navbar height to 160px to fit all 4 links in a single vertical line. */
		height: 80px;
	}

	.wrapperHeader nav ul {
        /* Centers narbar links by removing padding. */
        padding: 0;
	}

	.wrapperHeader ul li {
        /* Align navbar button to center and fill 100% of width.  */
        margin: 0;
		width: 100%;
		text-align: center;
	}

	.wrapperHeader nav a:link,
    .wrapperHeader nav a:visited {
        /* Display to block style */
		display: block;
	}

    /*
     Mobile body content
    */

    .wrapperContent {
        /* Smaller margin on the sides for content wrapper */
        margin: 2% 0;
    }

	.content {
        /* Smaller margin on the sides for body content */
        width: 96%;
	    padding: 2%;
	}

    .directory {
        /* Remove directory texts */
        display: none;
    }

    /*
     Mobile footer
    */

    .wrapperFooter {
        margin-bottom: 0;
    }

    .wrapperFooter p {
        /* Smaller left margin for footer texts */
        margin-left: 2%;
    }

    /*
     Mobile form
    */

    input,
    select,
    textarea,
    input[type=submit] {
        /* Width to 100% and height to 40px for ease of use. */
        width: 100%;
        height: 40px;
    }

    textarea {
        /* Taller text area. */
        height: 140px;
    }

    /*
     Mobile table
    */

    .resultTable tr th:nth-child(1),
    .resultTable tr td:nth-child(1) {
        /* Remove number column from result table*/
        display: none;
    }

    td {
        /* Larger padding between rows and smaller padding between columns. */
        padding: 15px 2%;
    }

    th {
        /* Smaller paddings for table header. */
        padding: 2%;
    }

    .resultTable {
        /* Smaller magin on top for table. */
        margin-top: 2%;
    }

    /*
     Mobile detail page
    */

    .informationTitle,
    .mapTitle {
        /* Smaller paddings and margins for titles. */
        padding: 2%;
        margin: 2% 0;
    }

    .wrapperDetailContent{
        /* Remove paddings and set width to 100%. */
        padding: 0;
        min-width: 100%;
    }

    /*
     Mobile Google Maps
    */

    #leafletMap {
        /* Remove margins and set width to 100%. */
        width: 100%;
        height: 300px;
        margin: 0%;
    }
}